[flake8]
exclude=application/myblog/settings/ci.py
max-line-length=100

#  しばらく無視する
exclude=application/admin.py
exclude=application/views.py
exclude=application/models.py
exclude=application/tests.py